<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Arab Cyber Security هو موقع متخصص في الأمان السيبراني وحماية المعلومات. يقدم أخبار وتدريبات وتقنيات أمن سيبراني .الجامعة الوطنية.وهيب مهيوب الشرعبي.امن سيبراني .اختراق">
</head>
<body>

<div class="social-icons">
  <a href="https://www.facebook.com/profile.php?id=100056648866493&sk=about" target="_blank">
    <img src="/static/imgei/fis.png" alt="Facebook">
  </a>
  <a href="https://x.com/SyberSc" target="_blank">
      <img src="/static/imgei/tw.png" alt="Twitter">
  </a>
  <a href="https://t.me/SyberSc71" target="_blank">
      <img src="/static/imgei/git.ico" alt="Telegram">
  </a>
  <a href="https://wa.me/+967712266013" target="_blank">
      <img src="/static/imgei/wt.png" alt="WhatsApp">
  </a>
</div>

</body>
</html>
